*, :after, :before {
    box-sizing: border-box;
}


body{
    background-color: #fff;
    font-size: 14px;
    font-family: "Inter",sans-serif;
    padding: 1rem;

}
.navbar{
    overflow: hidden;
    background-color: white;
    transition: 0.4s; /*Adds a transition effect when the padding is decreased*/
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    border-bottom: 8px solid #D3406C;
    
}


.Cart_Item{
    display: flex;
  justify-content: space-evenly;


  border-radius: 10px;
  float:right; 
  right:-100px;
  display: grid;
  background-color:white;

  width:150px;
  height:1000px;

    flex-wrap: wrap;

padding-top: 25px;
    position: relative;
    width: 100%;


  grid-template-columns: repeat(4, 6rem);



   }

  
   .navStyle{
    display: flex;
    padding-left: 520px;
    padding-right:-15px;

   }

   button{
       background-color: #fff;

       width:150px;
       height:40px
   }
   
   .row{
       flex-direction: row;  

       flex: 0 0 25%;
       max-width: 25%;
   }

   .menu li button{
    background-color: #fff;
    border-radius: 5px;
   }

   .menu li {
    padding: 0px 10px 10px;
    font-size: 14px;
   }

   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    list-style: none;
   }

   .out_nav {
       padding-top: 180px;
    display: flex;
    gap: 1em;
    font-size: 15px;
    list-style: none;
    
   }
   .middle{
    border-bottom: 1px solid #f3f3f4;
    padding-bottom: 15px;
   }

   .middle_container{
    margin: 1rem;
    padding: 2rem 2rem;
    display: grid; 
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
   }

   .Categories{
    width: 250px;
    height: 330px;
    overflow-y: scroll;
    scrollbar-width: thin;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    list-style-type: circle;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -webkit-font-smoothing: antialiased;

   }
   .Categories li{
       padding-bottom: 10px;
   }
   .side_category{
    border-right: 1px solid #f3f3f4;
    
    border-top: 1px solid #f3f3f4;
   }
   .bottom ,.Gap{
    display: flex;
    gap: 1em;
    font-size: 14px;
    list-style: none;
  justify-content: space-evenly;
  width: 100%;
  margin:1 rem auto;
  padding:1rem;
      background-color: #f6f8fa;
  /* border-color:1px solid #f3f3f4; */
  border-bottom: 1px solid #f3f3f4;
   }

   .bottom p{
    color: #6a737d;
   }
   
   /* .button li{
    border-color:1px solid #f3f3f4;
   } */

   .Gap li{
    padding-bottom: 10px;
    /* word-wrap: break-word; */
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
   }

   .row p{


     display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   }

 

   .mb-2{
    margin-bottom: 0.5rem;
   }

   .color{
    color: #c7417b;

   }
   
   .Gap{

    width: 100%;
    justify-content: space-evenly;
    padding-right: 15px;

   }

   .Preview_Page{
       text-align: center;
       margin-bottom: 1rem;
   }

   .Customer li{
         /* color: #6a737; */
         color: #6a737d;
   }
  .Gap h3{
    font-size: 14px;
    color: #24292e;
    font-weight: 500;
    line-height: 20px;
  }

  .Gap li{
    padding-bottom: 10px;
    /* word-wrap: break-word; */
    overflow: hidden;
    text-overflow: ellipsis;
    color: #6a737d;
    white-space: nowrap;
    padding-right: 20px;
  }


  